<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885980313084-ir5c858pm2bm0hoho87st3f8a6r6sck7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885980313084-ir5c858pm2bm0hoho87st3f8a6r6sck7</string>
	<key>API_KEY</key>
	<string>AIzaSyDYexnvP1549-mzSoHvSXBgvnLyNMkgRhU</string>
	<key>GCM_SENDER_ID</key>
	<string>885980313084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.co.Suara</string>
	<key>PROJECT_ID</key>
	<string>suara-84b0b</string>
	<key>STORAGE_BUCKET</key>
	<string>suara-84b0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885980313084:ios:fbe1759ba25192270bee79</string>
</dict>
</plist>